{
  "openapi": "3.1.0",
  "info": {
    "title": "Kuralynx API",
    "description": "API for making automated calls through Kuralynx platform",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kuralynx.com/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/send-call": {
      "post": {
        "summary": "Send a call",
        "description": "Initiates a call using the specified agent to the provided phone number",
        "requestBody": {
          "description": "Call request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendCallSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Connection minutes limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization header not present",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendCallRequest": {
        "type": "object",
        "required": [
          "agent_id",
          "call_to"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "The ID of the agent that will handle the call"
          },
          "call_to": {
            "type": "string",
            "description": "Mobile number to call with country code (e.g., +1234567890)"
          }
        }
      },
      "SendCallSuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the call initiation",
            "example": "success"
          },
          "call_id": {
            "type": "string",
            "description": "Unique identifier for the initiated call"
          },
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Call successfully queued"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    }
  }
}